<!doctype HTML>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/hover.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<h1>Interactions Research</h1>

<h3>Buttons</h3>
<section class="flex-container">
<a href="#" class="hvr-bounce-to-top">Background Bounce</a>
<a href="#" id="white" class="hvr-radial-out">Radial Background</a>
<a href="#" id="underline" class="hvr-underline-from-left">Underline From Left</a>
</section>

<hr>

<h3>Links</h3>


</body>

</html>